.root {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-width: 1536px;
}

.root_left_closed {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  max-width: 1536px;
}

.left {
  position: fixed;
  inset: 0px;
  z-index: 50;
  height: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  display: flex;
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  flex-direction: column;
}

.left_closed {
  position: fixed;
  inset: 0px;
  z-index: 50;
  height: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.content {
}

.content_left_closed {
  border-left-width: 1px;
  border-right-width: 1px;
}

@media (min-width: 640px) {
  .root {
    display: grid;
    transition-property: grid-template-columns;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .root {
    grid-template-columns: 272px auto;
  }

  .root_left_closed {
    display: grid;
    transition-property: grid-template-columns;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .root_left_closed {
    grid-template-columns: 0px auto;
  }

  .left {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: auto;
    height: 100vh;
    transform: none;
    border-right-width: 1px;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .left {
    visibility: visible;
  }

  .left {
    border-left-width: 1px;
  }

  .left_closed {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: auto;
    height: 100vh;
    transform: none;
    border-right-width: 1px;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .left_closed {
    visibility: hidden;
    overflow: hidden;
  }

  .left_closed {
    border-left-width: 1px;
  }
}

@media (min-width: 1536px) {
  .left {
    border-left-width: 1px;
  }

  .left_closed {
    border-left-width: 1px;
  }

  .content {
    border-right-width: 1px;
  }
}
