.search {
  @apply relative z-20;
}

.btn_search {
  @apply inline-flex items-center justify-center gap-2 rounded-full border border-transparent p-2 text-sm font-semibold text-slate-600 hover:border hover:border-slate-200 focus:outline-none;
}

.btn_search {
  @apply dark:text-slate-300 dark:hover:border-slate-800;
}

.btn_search > svg {
  height: 1.5rem;
  width: 1.5rem;
  stroke: currentColor;
}

.write {
  @apply relative hidden;
}

.btn_write {
  @apply flex flex-row rounded-full bg-blue-600 text-white;
}

.btn_write > a {
  letter-spacing: 0.025em;
  @apply relative flex flex-row items-center gap-2 rounded-full bg-blue-600 py-[0.625rem] pl-4 pr-[18px] text-sm font-medium transition-colors;
}

.btn_write > a > svg {
  height: 1.25rem;
  width: 1.25rem;
}

.btn_write > a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.menus {
  @apply flex flex-row items-center justify-end gap-3;
}

.menus_btn_area {
  @apply flex gap-1;
}

.menus_btn_theme {
  @apply inline-flex items-center justify-center gap-2 rounded-full border border-transparent p-2 text-sm font-semibold text-slate-600 hover:border hover:border-slate-200 focus:outline-none;
}

.menus_btn_theme {
  @apply dark:text-slate-300 dark:hover:border-slate-800;
}

.menus_btn_theme > svg {
  height: 1.5rem;
  width: 1.5rem;
  stroke: currentColor;
}

.moon {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.sun {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.menus_user_profile {
  @apply block h-10 w-10 shrink-0 overflow-hidden rounded-full bg-slate-300 focus:outline-none;
}

.menus_user_profile_container {
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
}

.btn_wrapper {
  @apply relative hidden;
}

.menus_btn_logs {
  @apply inline-flex items-center justify-center gap-2 rounded-full border border-transparent p-2 text-sm font-semibold text-slate-600 hover:border hover:border-slate-200 focus:outline-none;
}

.menus_btn_logs {
  @apply dark:text-slate-300 dark:hover:border-slate-800;
}

.menus_btn_logs > svg {
  height: 1.5rem;
  width: 1.5rem;
  stroke: currentColor;
}

.meus_btn_notification {
  @apply inline-flex items-center justify-center gap-2 rounded-full border border-transparent p-2 text-sm font-semibold text-slate-600 hover:border hover:border-slate-200 focus:outline-none;
}

.meus_btn_notification {
  @apply dark:text-slate-300 dark:hover:border-slate-800;
}

.meus_btn_notification > svg {
  height: 1.5rem;
  width: 1.5rem;
  stroke: currentColor;
}

.menu_notification_count {
  font-size: 0.75rem;
  line-height: 1rem;
  @apply absolute right-0 top-[-0.25rem] flex h-6 w-6 items-center justify-center rounded-full border-2 border-white bg-blue-600 font-bold text-white;
}

.menu_notification_count {
  @apply dark:border-blue-600;
}

.menu_user_profile_portal {
  @apply z-50 flex h-auto w-full min-w-[198px] flex-col gap-2 rounded-xl border border-slate-200 bg-white py-2 shadow-xl outline-none dark:border-slate-800 dark:bg-slate-900;
}

@media (min-width: 768px) {
  .write {
    @apply block;
  }

  .btn_wrapper {
    display: block;
  }
}

@media (min-width: 1536px) {
  .btn_write > a {
    @apply px-3 text-base;
  }
}
