.root {
  position: relative;
  grid-column: span 8 / span 8;
  grid-column-start: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 6rem;
}

.title {
  @apply w-full relative bg-white dark:bg-slate-950 flex flex-col gap-1 items-start rounded-2xl border border-slate-200 dark:border-slate-800 p-6 overflow-hidden;
}

.title_text {
  @apply text-2xl text-slate-700 dark:text-slate-200 font-semibold;
}

.desc {
  @apply text-base text-slate-500 dark:text-slate-400 w-4/5 sm:w-auto;
}

.icon_container {
  @apply flex items-center justify-center text-indigo-500 absolute top-1/2 bottom-1/2 right-0;
}

.icon_1 {
  @apply hidden sm:block dark:hidden;
}

.icon_2 {
  @apply sm:hidden dark:hidden;
}

.icon_3 {
  @apply hidden sm:dark:block;
}

.icon_4 {
  @apply hidden dark:block dark:sm:hidden;
}

.container_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .root {
    padding-top: 2rem;
  }

  .container_list {
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .root {
    width: 680px;
    min-width: 0px;
    gap: 2rem;
  }

  .container_list {
    gap: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .root {
    width: 728px;
  }

  .container_list {
    gap: 1.5rem;
  }
}
