.bookmarks-info-box {
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}

.bookmarks-info-box h1 {
  margin-bottom: 0.5rem;
  font-family: Plus Jakarta Sans, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.125rem;
  line-height: 1.375;
  font-weight: 800;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.bookmarks-info-box p {
  max-width: 42rem;
  line-height: 1.375;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .bookmarks-info-box {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .bookmarks-info-box h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .bookmarks-info-box p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
