/* Custom divide */

.custom-divide {
  width: 1px;
  --tw-bg-opacity: 0.2;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

/* Button */
.menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  margin-right: 0.5rem;
}

.write-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(52 102 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.write-button a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(52 102 246 / var(--tw-bg-opacity));
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.write-button button {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(52 102 246 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* Button */

/* Input */

.input-seach {
  padding-right: 2.5rem;
  position: relative;
  z-index: 20;
  width: 100%;
  border-radius: 9999px;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 250 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* 크롬, 사파리, 파이어폭스인 경우 input type="seach" x 버튼제거 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* 사파리 */

/* Input */

/* Link */

.link-logo {
  display: block;
  width: 9rem;
}

/* Link */

/* Icon */

.icon {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentColor;
}

.icon-xs {
  height: 0.75rem;
  width: 0.75rem;
  fill: currentColor;
}

.icon-sm {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}

.icon-md {
  height: 1.5rem;
  width: 1.5rem;
  fill: currentColor;
}

.icon-logo {
  width: 100%;
  fill: currentColor;
}
/* Icon */

/* Draft Style */
.draft-item {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  border-bottom-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1.5rem 1rem;
}

.draft-item .image-area {
  width: 100%;
  flex-shrink: 0;
}

.draft-item .content-area {
  margin-bottom: 1rem;
  width: 100%;
}

.draft-item .btn-area {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgb(117 117 117 / var(--tw-text-opacity));
}

.draft-item .image-area a {
  position: relative;
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  background-size: cover;
  background-position: center center;
  padding-top: 52.5%;
}

.draft-item .image-area a span {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.draft-item .content-area h1 {
  margin-bottom: 0.5rem;
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.25rem;
  line-height: 1.375;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(52 102 246 / var(--tw-text-opacity));
  word-break: normal;
  overflow-wrap: anywhere;
}

.draft-item .content-area :nth-child(3) {
  margin-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  word-break: normal;
  overflow-wrap: anywhere;
}

.draft-item .content-area :nth-child(4) {
  display: inline-block;
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}

.draft-item .content-area :nth-child(4) span {
  margin-right: 0.5rem;
  display: inline-block;
  opacity: 0.75;
}

.draft-item .btn-area .btn-edit {
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.draft-item .btn-area .btn-remove {
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  margin-left: 0.5rem;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

/* Draft Style */

@media (min-width: 1536px) {
  .write-button a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .link-logo {
    width: 11rem;
    padding-right: 0.5rem;
  }

  .input-seach {
    padding-right: 14rem;
  }
}

@media (min-width: 1024px) {
  .menu-button {
    display: none;
  }

  .link-logo {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .draft-item {
    flex-wrap: nowrap;
  }

  .draft-item .image-area {
    margin-right: 1rem;
    width: 8rem;
  }

  .draft-item .image-area a {
    margin-bottom: 0px;
  }

  .draft-item .content-area {
    margin-right: 1rem;
    margin-bottom: 0px;
    width: auto;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
  }

  .link-logo {
    width: 11rem;
  }
}
