.home-container {
  position: relative;
  grid-column: span 7 / span 7;
  min-width: 0px;
  padding-top: 1.25rem;
  padding-bottom: 6rem;
}

/* Home Tabs List */

.home-container .tab-container {
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.home-container .tab-container .tab-content {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom-width: 1px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.home-container .tab-container .tab-content .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto !important;
}

.home-container .tab-container .tab-content .tabs .tab-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto !important;
}

.home-container .tab-container .tab-content .tabs .tab-item {
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-width: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-color: transparent;
  font-weight: 500;
}

.home-container
  .tab-container
  .tab-content
  .tabs
  .tab-item[role="tab"][aria-selected="true"] {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.home-container .tab-container .tab-content .tabs-setting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-container .tab-container .tab-content .tabs-setting .filter-btn {
  position: relative;
  margin-right: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  border-color: transparent;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.home-container .tab-container .tab-content .tabs-setting .filter-btn .icon {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.home-container
  .tab-container
  .tab-content
  .tabs-setting
  .filter-btn
  .icon.active {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.home-container .tab-container .tab-content .tabs-setting .view-type-area {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-container
  .tab-container
  .tab-content
  .tabs-setting
  .view-type-area
  .view-type-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-width: 2px;
  border-color: transparent;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* Home Tabs List */

/* Home Search Filter */

.home-container .search-filter {
  border-bottom-width: 1px;
  padding: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.home-container .search-filter .search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
}

.home-container .search-filter .search-form .time-area {
  margin-right: 1rem;
  width: 100%;
}

.home-container .search-filter .search-form .time-area label,
.home-container .search-filter .search-form .keyword-area label {
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.home-container .search-filter .search-form .time-area .time-container {
  position: relative;
  margin-right: 2rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.home-container .search-filter .search-form .time-area .time-container select {
  width: 100%;
  cursor: pointer;
  appearance: none;
  border-radius: 0.5rem;
  border-width: 1px;
  background-color: transparent;
  padding: 0.75rem 2rem 0.75rem 1rem;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  outline: transparent solid 2px;
  outline-offset: 2px;
}

.home-container .search-filter .search-form .keyword-area {
  width: 100%;
  flex: 1 1 0%;
}

.home-container .search-filter .search-form .keyword-area .keyword-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
  row-gap: 1rem;
}

.home-container
  .search-filter
  .search-form
  .keyword-area
  .keyword-container
  .keyword {
  position: relative;
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0.375rem;
  background-color: transparent;
}

.home-container
  .search-filter
  .search-form
  .keyword-area
  .keyword-container
  .keyword
  input {
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  background-color: transparent;
  outline: transparent solid 2px;
  outline-offset: 2px;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.home-container
  .search-filter
  .search-form
  .keyword-area
  .keyword-container
  .search-footer {
  margin-left: auto;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-self: flex-start;
}

.home-container
  .search-filter
  .search-form
  .keyword-area
  .keyword-container
  .search-footer
  .btn-submit {
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 1rem;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.home-container
  .search-filter
  .search-form
  .keyword-area
  .keyword-container
  .search-footer
  .btn-clear {
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

/* Home Search Filter */

/* View Type Menu Popover */

.view-type-menu-popover {
  overflow: hidden;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.view-type-menu-popover .container {
  position: relative;
  min-height: 2rem;
  min-width: 4rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.view-type-menu-popover .container button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.view-type-menu-popover .container button.active {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

/* View Type Menu Popover */

@media (min-width: 1024px) {
  .home-container .search-filter .search-form {
    flex-flow: column nowrap;
  }

  .home-container .search-filter .search-form .time-area {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .home-container .search-filter .search-form {
    flex-flow: row wrap;
  }

  .home-container .search-filter .search-form .time-area {
    width: 11rem;
  }
}
