.btn_menu {
  @apply font-semibold text-sm border border-transparent hover:border hover:border-slate-200 inline-flex justify-center items-center gap-2 focus:outline-none focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600  text-slate-600  rounded-full p-2 mr-2 xl:hidden;
}

:global(.dark) .btn_menu {
  --tw-border-opacity: 1;
  --tw-ring-offset-color: #1e293b;
  border-color: rgb(30 41 59 / var(--tw-border-opacity)) !important;
  color: rgb(203 213 225 / var(--tw-text-opacity)) !important;
}

.btn_menu > svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentColor;
}

.overlay {
  @apply fixed inset-0 z-50 opacity-50 bg-slate-950 dark:bg-slate-600;
}

.content {
  @apply fixed top-0 bottom-0 left-0 flex flex-col z-50 w-[323px] bg-white dark:bg-slate-950;
}

.container {
  @apply flex items-center justify-between border-b border-slate-200 dark:border-slate-800 p-4 min-h-[75px];
}

.btn_close {
  @apply flex items-center justify-center transition-colors duration-100 text-slate-600 dark:text-slate-300 focus:outline-none border border-transparent hover:bg-slate-100 dark:hover:bg-slate-800 focus:outline-none focus:bg-slate-100 dark:focus:bg-slate-800 disabled:text-slate-300 disabled:dark:text-slate-800 disabled:hover:bg-transparent disabled:dark:hover:bg-transparent disabled:cursor-not-allowed rounded-full p-2;
}

.logo {
  @apply block w-[168px] text-slate-900 dark:text-white;
}

.logo_white {
  @apply w-full fill-current dark:hidden;
}

.logo_dark {
  @apply w-full fill-current hidden dark:block;
}

.nav_link {
  @apply flex flex-row items-center gap-2 w-full py-2 px-3 rounded-lg font-sans cursor-pointer transition-colors duration-150 ease-in-out active:bg-slate-100 dark:active:bg-slate-800 md:hover:bg-slate-100 md:dark:hover:bg-slate-800 focus:outline-none text-slate-600 dark:text-slate-300 text-lg font-semibold;
}

.nav_link_active {
  @apply !text-blue-600;
}

@media (min-width: 1280px) {
  .btn_menu {
    @apply hidden;
  }
}
