.ProseMirror {
  outline: none;
  min-height: 100vh;
  padding-bottom: 150px;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
}

.ProseMirror {
  position: relative;
}

.ProseMirror {
  color: rgb(17, 17, 17);
  max-width: 65ch;
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1.125rem;
  line-height: 1.77778;
  min-height: 100vh;
  overflow-wrap: break-word;
}

.dark .ProseMirror-gapcursor:after {
  border: 1px solid white;
}
.dark .ProseMirror-dropcursor {
  background-color: white !important;
}
.dark .ProseMirror ol > li::marker {
  color: #bdbdbd;
}
.ProseMirror ol > li::marker {
  color: #64748b;
}
.ai-mark {
  background: rgba(147, 197, 253);
  padding: 4px 0 4px 0;
}

@media (min-width: 1280px) {
  .ProseMirror {
    font-size: 1.25rem;
    line-height: 1.8;
  }
}
