/* Button */

.button-primary {
  border-radius: 9999px;
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.button-primary,
.button-transparent-outline {
  border-width: 1px;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.button-transparent-outline {
  border-radius: 0.5rem;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.button-transparent-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.dark .button-transparent-outline {
  border-color: rgb(30 41 59/0.8);
  --tw-text-opacity: 1;
  color: rgb(241 245 249 / var(--tw-text-opacity));
}

.dark .button-transparent-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity));
}

.button-primary.big,
.button-transparent-outline.big {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.button-primary.small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button-primary-no-outline {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.button-primary-no-outline.big {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.button-primary-no-outline.small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button-primary-no-outline:hover,
.button-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.button-primary-no-outline.disabled,
.button-primary-no-outline:disabled,
.button-primary.disabled,
.button-primary:disabled {
  opacity: 0.5;
}

.button-primary-no-outline.active,
.button-primary.active {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button-primary-no-outline.active:hover,
.button-primary.active:hover,
.dark .button-primary-no-outline.active:hover,
.dark .button-primary.active:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.dark .button-primary-no-outline:hover,
.dark .button-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.btn-primary {
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  line-height: 1.375;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
}

.btn-primary,
.btn-primary.active {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.btn-primary.active {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0/0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
}

.btn-primary:hover {
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.btn-primary.disabled,
.btn-primary:disabled {
  opacity: 0.75;
}

.button-transparent {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.button-transparent.disabled,
.button-transparent:disabled {
  opacity: 0.5;
}

.button-transparent.small {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.button-transparent.active {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.button-transparent.big {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.dark .button-transparent {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.dark .button-transparent.active {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.button-transparent:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.dark .button-transparent:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.button-structure {
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  line-height: 1.625;
}

.button-structure:hover {
  opacity: 0.75;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.button-hn-primary {
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  line-height: 1.375;
  letter-spacing: -0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button-hn-primary:hover {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

@media (min-width: 768px) {
  .button-hn-primary {
    padding: 0.75rem 1.25rem;
  }
}

.button-hn-outline {
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  line-height: 1.375;
  letter-spacing: -0.025em;
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}

.button-hn-outline:hover {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0/0.1), 0 1px 2px -1px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.dark .button-hn-outline {
  border-color: rgb(30 41 59/0.8);
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .button-hn-outline {
    padding: 0.75rem 1.25rem;
  }
}

.button-hn-outline.thin {
  font-weight: 500;
}

.button-hn-outline:disabled,
.button-hn-primary:disabled {
  opacity: 0.75;
}

.input-text {
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input-text.small {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-text:focus {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  background-color: transparent;
}

.input-text::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.input-text::placeholder {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.dark .input-text {
  border-color: rgb(30 41 59/0.8);
  --tw-bg-opacity: 1;
  background-color: rgb(2 6 23 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark .input-text:focus {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  background-color: transparent;
}

.input-field.disabled,
.input-text:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

.dark .input-field.disabled,
.dark .input-text:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.body-main:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.error-message {
  @apply mx-1 my-1 text-sm text-red-500 duration-300 ease-in-out;
}

.input-label {
  @apply block mb-2 text-sm font-semibold text-slate-900 dark:text-slate-300;
}

.input-help {
  @apply block mb-2 -mt-2 text-base italic text-slate-500 dark:text-slate-400;
}

/* ?????????? */

/* Button */

/* Icon */
.icon__base {
  height: 1.25rem;
  width: 1.25rem;
}

.icon__xs {
  height: 0.75rem;
  width: 0.75rem;
}

.icon__sm {
  height: 1rem;
  width: 1rem;
}

.icon__md {
  height: 1.5rem;
  width: 1.5rem;
}

.icon__lg {
  height: 2rem;
  width: 2rem;
}

.icon__logo {
  width: 100%;
  height: 28px;
  fill: currentColor;
}

/* Icon */

.reached-end {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply my-4 w-full p-6;
}

.reached-end-text {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply text-center text-xl;
}

/* Divide */

.custom-divide__tab-treding {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  @apply my-4 h-[1px];
}

.separator {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  @apply ml-2 min-h-full w-[1px];
}

/* Divide */

/* Error */

/* Error */

/* Buttons */

.btn__menu-header {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply mr-2 inline-flex flex-row items-center justify-center rounded-full border border-transparent pb-1 pl-2 pr-2 pt-1 text-center text-sm font-medium leading-5 outline-none lg:hidden;
}

/* Buttons */

/* container */

.container__base {
  --tw-bg-opacity: 1;
  background-color: rgb(250 251 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(33 33 33 / var(--tw-text-opacity));
  @apply min-h-screen;
}

/* Header */

.header__app {
  @apply relative z-50;
}

.header__app .header__desktop {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply relative z-20 flex w-full border-b py-4;
}

.header__desktop .header__desktop-container {
  @apply mx-auto grid  w-full min-w-full grid-cols-12 gap-4 px-4;
}

/* Header -- logo */

.header__app .header__logo {
  @apply col-span-4 flex flex-row items-center justify-start;
}

.header__app .header__logo .header__logo-link {
  @apply block w-36 md:w-44 lg:w-full xl:w-44 xl:pr-2;
}

/* Header -- logo */

/* Header -- Search */

.header__app .header__search {
  @apply hidden flex-1 items-center;
}

.header__search form {
  @apply relative flex flex-1 flex-row items-stretch;
}

.header__search form input[type="search"]::-webkit-search-decoration,
.header__search form input[type="search"]::-webkit-search-cancel-button,
.header__search form input[type="search"]::-webkit-search-results-button,
.header__search form input[type="search"]::-webkit-search-results-decoration {
  @apply hidden;
}

.header__search form > span:nth-child(1) {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  @apply absolute z-30 flex h-full flex-row items-center p-4;
}

.header__search form > input:nth-child(2) {
  --tw-bg-opacity: 1;
  background-color: rgb(245 247 250 / var(--tw-bg-opacity));
  @apply relative z-20 w-full rounded-full border py-2 pl-10 pr-10 outline-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100;
}

.header__search form > span:nth-child(3) {
  @apply pointer-events-none absolute right-0 top-0 z-20 mr-4 flex h-full flex-row items-center;
}

.header__search form > span:nth-child(3).active {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  @apply text-sm;
}

.header__search form > span:nth-child(3).active > span {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  @apply mx-1 rounded border p-[0.375rem] text-sm leading-none;
}

.header__search form > span:nth-child(3) > .slash {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  @apply rounded border p-[0.375rem] text-sm leading-none;
}

/* Header -- Search */

/* Header -- Right Area */

.header__app .header__right-area {
  @apply col-span-8 flex flex-row items-center justify-end;
}

.header__right-area .btns-group__drafts {
  @apply relative hidden;
}

.header__right-area .btns-group__drafts .btn__drafts {
  --tw-bg-opacity: 1;
  background-color: rgb(52 102 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  @apply flex flex-row rounded-full;
}

.header__right-area .btns-group__drafts .btn__drafts a {
  --tw-bg-opacity: 1;
  background-color: rgb(52 102 246 / var(--tw-bg-opacity));
  letter-spacing: 0.025em;
  @apply flex flex-row items-center rounded-full p-[0.625rem] text-sm font-medium;
}

.header__right-area .btns-group__drafts .btn__drafts a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.header__right-area .header__subnavs {
  @apply flex flex-row items-center justify-end;
}

.header__setting .btn__theme,
.header__right-area .header__subnavs .btn__theme {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply relative flex h-10 w-10 flex-row items-center justify-center rounded-full focus:outline-none;
}

.header__setting .btn__theme:hover,
.header__right-area .header__subnavs .btn__theme:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.header__setting .notification,
.header__right-area .header__subnavs .notification {
  @apply mr-4 hidden h-10 w-10;
}

.notification .btn__notification {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply relative flex h-full w-full flex-row items-center justify-center rounded-full focus:outline-none;
}

.notification .btn__notification:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.notification .notification__count {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  @apply absolute right-[-0.25rem] top-[-0.25rem] rounded-full px-2 font-bold;
}

.notification > [data-radix-popper-content-wrapper] {
  @apply !left-[-80px] !z-50;
}

.popover__notification,
.popover__menu {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply overflow-hidden rounded-lg border shadow-lg;
}

.popover__notification .popover__notification-container,
.popover__menu .popover__menu-container {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply relative min-h-[2rem] min-w-[4rem];
}

.popover__notification
  .popover__notification-container
  .popover__notification-wrapper,
.popover__menu .popover__menu-container .popover__menu-wrapper {
  @apply h-auto w-64 p-6 leading-[1.375];
}

.popover__notification .popover__notification-wrapper-logged-in {
  @apply relative z-20 flex min-w-[39rem] max-w-[39rem] flex-col;
}

.popover__notification-wrapper-logged-in
  .notification-wrapper-logged-in-header {
  @apply px-4;
}

.popover__notification-wrapper-logged-in .notification-wrapper-logged-in-body {
  max-height: calc(100vh - 18rem);
  @apply overflow-auto;
}

.popover__notification-wrapper .icon-wrapper {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  @apply mb-5 flex flex-row items-center justify-center p-4;
}

.popover__menu-wrapper .img-wrapper {
  @apply mx-auto mb-5 block h-24 w-24;
}

.popover__notification-wrapper > h1.no-auth,
.popover__menu-wrapper > h1.no-auth {
  font-family:
    "Plus Jakarta Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  @apply mb-4 text-2xl font-extrabold leading-[1.375];
}

.popover__notification-wrapper > p.no-auth,
.popover__menu-wrapper > p.no-auth {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply mb-4 text-base leading-[1.375];
}

.popover__notification-wrapper > a.no-auth {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  @apply block flex-row justify-center rounded-full border px-2 py-3 text-center text-base font-bold leading-[1.625] text-white outline-none transition-colors;
}

.popover__menu-wrapper .btns-groups {
  @apply flex flex-row items-center justify-center;
}

.menu {
  @apply h-10 w-10 flex-shrink-0;
}

.menu > [data-radix-popper-content-wrapper] {
  @apply !left-[-20px] !z-50;
}

.menu .btn__profile {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  @apply block h-full w-full overflow-hidden rounded-full;
}

.menu .btn__profile .img__container {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  @apply relative block h-10 w-full rounded-full;
}

.popover__menu-wrapper .btns-groups a.base {
  @apply block w-1/2 flex-row items-center justify-center rounded-full border px-3 py-2 text-center text-base font-bold leading-[1.625] outline-none transition-colors;
}

.popover__menu-wrapper .btns-groups a.signup {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.popover__menu-wrapper .btns-groups a.signin {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  margin-left: 0.25rem;
}

.popover__menu-session {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply overflow-hidden rounded-lg border shadow-lg;
}

.popover__menu-session .popover__menu-session-container {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply relative min-h-[2rem] min-w-[4rem];
}

.popover__menu-session .popover__menu-session-container .default-size {
  @apply w-72;
}

.popover__menu-session
  .popover__menu-session-container
  .default-size
  .popover__menu-session-wrapper {
  font-family:
    "Plus Jakarta Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  @apply relative flex w-[36rem] rounded-lg transition-all;
}

.popover__menu-session-wrapper .session-menu {
  @apply visible flex flex-1 transform flex-col opacity-100 transition-all;
}

.session-menu a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.session-menu a[data-type="profile"] {
  @apply flex max-w-[18rem] flex-row items-center p-4;
}

.session-menu a[data-type="link"] {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply flex flex-row items-center p-4 text-sm;
}

.session-menu a[data-type="logout"] {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
  @apply flex flex-row items-center p-4 text-sm;
}

.session-menu .image-container {
  @apply mr-4 h-12 w-12 flex-shrink-0 rounded-full;
}

.session-menu .image-wrapper {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  @apply relative block h-full w-full rounded-full;
}

.session-menu .text-container {
  @apply min-w-0 flex-1 leading-[1.25];
}

.session-menu .text-container h2 {
  font-family:
    "Plus Jakarta Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  @apply w-full truncate text-base font-semibold;
}

.session-menu .text-container p {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  @apply truncate text-sm font-medium;
}

/* Header -- Right Area */

.content-info-box {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply mb-5 flex flex-col rounded-lg border px-6 pb-5 pt-10;
}

.content-info-box h1 {
  font-family:
    Plus Jakarta Sans,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  @apply mb-2 text-lg font-extrabold;
}

.content-info-box p {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply max-w-[42rem] leading-[1.375];
}

@media (min-width: 640px) {
  .header__desktop .header__desktop-container {
    @apply max-w-[640px];
  }

  .container__base main {
    @apply max-w-[640px];
  }
}

@media (min-width: 768px) {
  .header__desktop .header__desktop-container {
    @apply max-w-3xl;
  }
  .container__base main {
    @apply max-w-3xl;
  }

  .header__right-area .btns-group__drafts {
    @apply block;
  }

  .header__setting .notification,
  .header__right-area .header__subnavs .notification {
    @apply block;
  }

  .content-info-box {
    @apply items-center py-10;
  }

  .content-info-box h1 {
    @apply text-3xl;
  }

  .content-info-box p {
    @apply mx-auto text-center text-base;
  }
}

@media (min-width: 1024px) {
  .header__desktop .header__desktop-container {
    @apply min-w-0 max-w-full px-6;
  }

  .header__app .header__logo {
    @apply col-span-2;
  }

  .header__app .header__search {
    @apply col-span-6 flex;
  }

  .header__search form {
    @apply col-span-5;
  }

  .container__base main {
    @apply max-w-full grid-cols-12 px-2;
  }

  .header__app .header__right-area {
    @apply col-span-4 justify-between;
  }
}

@media (min-width: 1280px) {
  .header__desktop .header__desktop-container {
    @apply max-w-full px-8;
  }

  .header__app .header__logo {
    @apply col-span-2;
  }

  .header__app .header__search {
    @apply col-span-7;
  }

  .container__base main {
    @apply mx-auto min-w-0 max-w-full grid-cols-12 px-4;
  }

  .header__app .header__right-area {
    @apply col-span-3;
  }
}

@media (min-width: 1536px) {
  .header__desktop .header__desktop-container {
    @apply max-w-[1536px] px-4;
  }

  .container__base main {
    @apply mx-auto min-w-0 max-w-[1536px] grid-cols-12 px-4;
  }
}
