.btn_load_more {
  @apply justify-center rounded-full flex text-blue-600 dark:text-slate-200 dark:bg-slate-800 dark:border-slate-700 border border-blue-600 hover:bg-blue-50 hover:dark:bg-slate-700 hover:dark:border-slate-600 disabled:bg-white disabled:dark:hover:bg-slate-800 disabled:border-blue-300 disabled:dark:hover:border-slate-700 disabled:cursor-not-allowed disabled:text-blue-300 disabled:dark:text-slate-600 text-sm py-1 px-3 mt-2;
}

.empty {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
