.card {
  @apply w-full first-of-type:border-t-0 lg:!border border-t border-slate-200 rounded-none lg:rounded-2xl pt-5 bg-white flex flex-col gap-4 md:gap-5 md:pt-8 lg:p-6 lg:pb-5;
}

:global(.dark) .card {
  @apply border-slate-800/80  bg-slate-950;
}

.section_01 {
  @apply flex flex-col gap-2 sm:gap-4;
}

.title_container {
  @apply flex flex-col gap-6;
}

.user_profile_container {
  @apply flex flex-row items-center justify-between;
}

.profile_image_container {
  @apply flex items-center justify-center bg-slate-100 cursor-pointer relative w-10 h-10 rounded-full overflow-hidden;
}

.profile_username {
  @apply font-semibold text-slate-700 cursor-pointer;
}

.profile_nickname {
  @apply text-sm text-slate-500 font-normal hidden sm:block;
}

.post_title {
  word-break: normal;
  overflow-wrap: anywhere;
  @apply text-base sm:text-xl font-semibold sm:font-bold text-slate-700 cursor-pointer;
}

.post_content {
  word-break: normal;
  overflow-wrap: anywhere;
  @apply text-base hidden font-normal text-slate-500 cursor-pointer md:line-clamp-3;
}

.post_image {
  @apply w-full rounded-xl md:rounded-lg bg-gray-100 relative cursor-pointer md:basis-[180px] md:h-[108px] md:shrink-0;
}

.post_image_mobile {
  @apply block w-full h-full overflow-hidden rounded-xl md:rounded-lg focus:outline-none focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600;
}

.post_footer {
  @apply flex flex-row items-center justify-between text-slate-600 text-sm;
}

.discuss_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.discuss_container:hover {
  text-decoration-line: underline;
}

.span_text {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.dat {
  @apply font-bold text-slate-400;
}

.tag {
  @apply flex justify-start items-center rounded-full px-2 py-1 cursor-pointer text-xs font-medium text-slate-600 bg-slate-100 hover:bg-slate-200 w-min max-w-[126px] truncate text-left;
}

.separator {
  @apply h-3 w-px bg-slate-200;
}

.bookmark {
  @apply text-slate-500 group-hover:text-blue-600;
}

:global(.dark) .bookmark {
  @apply text-slate-400;
}

:global(.dark) .separator {
  @apply bg-slate-800;
}

:global(.dark) .tag {
  @apply bg-slate-900 hover:bg-slate-700 text-slate-300;
}

:global(.dark) .dat {
  @apply text-slate-500;
}

.group:hover .span_text {
  text-decoration-line: underline;
}

:global(.dark) .span_text {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}

:global(.dark) .discuss_container {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

:global(.dark) .post_footer {
  @apply text-slate-300;
}

:global(.dark) .post_image_mobile {
  @apply focus:ring-offset-slate-800;
}

:global(.dark) .post_image {
  @apply bg-gray-900;
}

:global(.dark) .post_content {
  @apply text-slate-400;
}

:global(.dark) .post_title {
  @apply text-slate-200;
}

:global(.dark) .profile_username {
  @apply text-slate-200;
}

:global(.dark) .profile_nickname {
  @apply text-slate-400;
}

.section_02 {
  @apply flex flex-col gap-5;
}
