.root {
  @apply w-full first-of-type:border-t-0 border-t lg:!border border-slate-200 dark:border-slate-800 rounded-none lg:rounded-2xl pt-5 md:pt-8 lg:p-6 lg:pb-5 bg-white dark:bg-slate-950 flex flex-col gap-2 sm:gap-4;
}

.thumbnail_container {
  @apply flex items-center justify-center bg-slate-100 cursor-pointer relative w-10 h-10 rounded-full overflow-hidden;
}

.username {
  @apply font-semibold text-slate-700 dark:text-slate-200 cursor-pointer;
}

.domain {
  @apply text-sm text-slate-500 dark:text-slate-400 font-normal hidden sm:block;
}

.dot {
  @apply text-sm text-slate-500 dark:text-slate-400 font-normal hidden sm:block;
}

.date {
  @apply text-sm text-slate-500 dark:text-slate-400 font-normal;
}

.btn_featured {
  @apply flex items-center justify-center gap-1 w-auto rounded-full font-sans font-semibold text-indigo-700 dark:text-indigo-50 bg-indigo-100 dark:bg-indigo-900 cursor-pointer text-sm px-3 py-1;
}

.title {
  word-break: normal;
  overflow-wrap: anywhere;
  @apply text-base sm:text-xl font-semibold sm:font-bold  text-slate-700 dark:text-slate-200 cursor-pointer;
}

.description {
  word-break: normal;
  overflow-wrap: anywhere;
  @apply text-base hidden font-normal text-slate-500 dark:text-slate-400 cursor-pointer md:line-clamp-3;
}
