.root {
  @apply bg-transparent my-2 py-3 flex hover:bg-slate-50 dark:hover:bg-slate-900 rounded-sm px-0 md:px-4;
}

.card_icon {
  @apply text-blue-600 mr-4 p-1 w-8 h-8 flex flex-col items-center justify-center;
}

.card_text {
  @apply text-slate-600 dark:text-slate-300;
}

.card_text1 {
  @apply font-semibold text-base text-slate-700 dark:text-slate-200;
}

.card_desc {
  @apply border border-slate-100 dark:border-slate-800/80 text-slate-700 dark:text-slate-200 p-3 rounded-lg my-3;
}

.card_date {
  @apply mt-3 text-sm text-slate-500 dark:text-slate-400;
}

.card_unread {
  @apply w-2.5 h-2.5 bg-blue-600 rounded-full;
}

.card_div {
  @apply h-px bg-slate-200 dark:bg-slate-800 mx-0 md:mx-3;
}

.card_image {
  display: block;
  border-radius: 9999px;
  height: 2rem;
  width: 2rem;
}

@media (min-width: 768px) {
  .card_image {
    height: 2.5rem;
    width: 2.5rem;
  }
}
