.ipt_date {
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  /* padding: 1rem 4rem 1rem 1rem; */
  padding: 1rem 1rem 1rem 1rem;
  outline: transparent solid 2px;
  outline-offset: 2px;
}

.btn_date {
  border-width: 1px;
  border-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  margin-left: 0.5rem;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.btn_date_cancel {
  border-radius: 9999px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
  border-width: 1px;
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}
