.logo {
  display: block;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

:global(.dark) .logo {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.logo_mobile {
  width: 2rem;
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgb(41 98 255 / var(--tw-text-opacity));
}

:global(.dark) .logo_mobile {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.logo_desktop {
  display: none;
  width: 9rem;
  fill: currentColor;
}

@media (min-width: 768px) {
  .logo_mobile {
    display: none;
  }

  .logo_desktop {
    display: block;
    width: 11rem;
  }
}
