.btn_menu {
  @apply mr-2 inline-flex items-center justify-center gap-2 rounded-full border border-transparent p-2 text-sm font-semibold text-slate-600 hover:border hover:border-slate-200 focus:outline-none dark:text-slate-300 dark:hover:border-slate-800;
}

.btn_menu {
  @apply dark:text-slate-300;
}

.btn_menu > svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentColor;
}

.logo {
  @apply block w-36 text-slate-900;
}

.logo {
  @apply dark:text-white;
}

.logo > svg {
  @apply w-full fill-current;
}

.logo_dark {
  @apply dark:block;
}

.logo_white {
  @apply dark:hidden;
}

@media (min-width: 1280px) {
  .btn_menu {
    @apply hidden;
  }

  .logo {
    @apply pr-2;
  }
}

@media (min-width: 768px) {
  .logo {
    @apply w-44;
  }
}
