.root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: visible;
}

.wrapper {
  margin-left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  row-gap: 1.5rem;
  overflow: visible;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.email_auth_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  row-gap: 1.5rem;
  overflow: visible;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  margin-right: 0px;
}

.form_title {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}

:global(.dark) .form_title {
  @apply text-slate-300;
}

.email_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.5rem;
}

.btn_google {
  @apply rounded-full flex bg-blue-600 hover:bg-blue-500 text-white border-transparent focus:dark:bg-blue-600 focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 dark:focus:ring-offset-slate-800 disabled:bg-blue-200 disabled:cursor-not-allowed disabled:dark:bg-blue-900 disabled:dark:text-slate-400 text-base py-3 px-6 w-full items-center justify-center;
}

.btn_social {
  @apply rounded-full flex text-slate-600 bg-white border border-slate-300 hover:bg-slate-50 focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 disabled:bg-white disabled:border-slate-200 disabled:cursor-not-allowed disabled:text-slate-300 text-sm py-2.5 px-5 w-full items-center justify-center;
}

:global(.dark) .btn_social {
  @apply text-slate-300 bg-slate-950 border-slate-800 hover:border-slate-700 hover:bg-slate-800 focus:ring-offset-slate-800 disabled:bg-slate-950 disabled:border-slate-800 disabled:text-slate-800;
}

.btn_social > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.btn_social > div > svg {
  height: 1.5rem;
  width: 1.5rem;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  fill: #1e293b;
}

:global(.dark) .btn_social > div > svg {
  fill: #d1d5db;
}

.icon_google {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  fill: currentColor;
}

.other_social {
  display: none;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-column-gap: 0.75rem;
  column-gap: 0.75rem;
}

.btn_email {
  @apply rounded-full flex text-blue-600 !p-0 hover:underline focus:outline-none focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 dark:focus:ring-offset-slate-800 disabled:text-blue-300 disabled:dark:text-blue-900 disabled:cursor-not-allowed disabled:hover:no-underline text-base py-3 px-6;
}

.btn_email_signin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  outline-width: 0px;
}

@media (min-width: 425px) {
  .other_social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
