.root {
  position: relative;
  margin-bottom: 1.25rem;
  display: block;
  height: 6rem;
  width: 6rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.image {
  position: relative;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .root {
    margin-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  .root {
    height: 10rem;
    width: 10rem;
  }
}
