.title {
  font-family:
    'Suisse Intl',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 1.875rem;
  outline: transparent solid 2px;
  line-height: 1.375 !important;
  @apply w-full resize-none appearance-none overflow-hidden bg-transparent px-4 font-bold text-slate-900 outline-offset-2;
}

.subtitle {
  font-family:
    'Suisse Intl',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 1.5rem;
  outline: transparent solid 2px;
  line-height: 1.375 !important;
  @apply w-full resize-none appearance-none bg-transparent pl-4 pr-10 font-medium text-slate-700 outline-offset-2;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

:global(.dark) .title {
  @apply text-white;
}

:global(.dark) .subtitle {
  @apply text-slate-400;
}
