.root {
  margin-bottom: 1.25rem;
  display: grid;
}

.container {
  grid-column: span 10 / span 10;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1.25rem;
}

.tag_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  word-break: normal;
  overflow-wrap: anywhere;
}

.tag {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  padding: 0.5rem;
  line-height: 1;
}

.tag:hover {
  --tw-border-opacity: 1;
  border-color: rgb(100 116 139 / var(--tw-border-opacity));
}

@media (min-width: 1280px) {
  .root {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .container {
    grid-column: span 10 / span 10;
    grid-column-start: 2;
  }
}

@media (min-width: 1536px) {
  .root {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .container {
    grid-column: span 8 / span 8;
    grid-column-start: 2;
  }
}
