.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  display: flex;
  width: 100%;
  flex-flow: wrap;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.desc_container {
  margin-bottom: 1.25rem;
  width: 100%;
  padding-right: 1.25rem;
}

.desc_container > p {
  margin-top: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.375;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  word-break: normal;
  overflow-wrap: anywhere;
}

.title_container {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.follow_container {
  margin-top: 1.25rem;
  display: flex;
  flex-flow: wrap;
  -webkit-box-align: center;
  align-items: center;
}

.follow_container > a {
  margin-right: 1.25rem;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.title_container > h1 {
  font-family:
    "Suisse Intl",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.action_container {
  display: flex;
  flex-direction: row-reverse;
}

.btn_setting {
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 1.25rem;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.btn_setting > svg {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
  fill: currentcolor;
}

@media (min-width: 768px) {
  .root {
    flex: 1 1 0%;
    padding-left: 1.25rem;
  }

  .desc_container {
    margin-bottom: 0px;
    flex: 1 1 0%;
  }

  .action_container {
    flex-direction: row;
  }

  .follow_container {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .root {
    padding-left: 2.5rem;
  }
}
