.root {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-top-width: 1px;
  border-bottom-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1rem 1.5rem;
}

.link_code_of_content {
  @apply flex items-center justify-center transition-colors duration-100 text-slate-600 dark:text-slate-300 border border-slate-200 dark:border-slate-800 hover:bg-slate-50 dark:hover:bg-slate-900 focus:outline-none focus:bg-slate-50 dark:focus:bg-slate-900 rounded-full p-1.5;
}

.link {
}

.footer_code_of_content {
  display: none;
}

.footer_action_area {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  column-gap: 0.5rem;
}

@media (min-width: 640px) {
  .link {
    display: none;
  }

  .footer_code_of_content {
    display: block;
  }
}
