.tab_list {
  @apply flex gap-1 relative;
}

.tab_btn {
  @apply flex flex-col;
}

.tab_btn_container {
  @apply text-slate-600 border-transparent flex items-center py-2 px-4 rounded-full hover:bg-slate-100 font-medium text-sm;
}

:global(.dark) .tab_btn_container {
  @apply text-slate-300 hover:bg-slate-900;
}

.tab_btn_active {
  @apply text-blue-500 bg-blue-50 hover:bg-blue-50;
}

:global(.dark) .tab_btn_active {
  @apply text-slate-100 bg-slate-900;
}

.feed_best_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 0.5rem;
}
