.draft-template {
  @apply relative mx-auto grid max-w-[1536px] grid-cols-10;
}

.draft-sidebar {
  height: -webkit-fill-available;
  @apply sticky top-0 left-0 col-span-12 flex flex-col border-r;
}

.draft-sidebar .draft-sidebar-header {
  @apply flex flex-row items-center border-b p-4;
}

.draft-sidebar .draft-sidebar-header .sidebar-header__btn-back .btn-back__icon {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  @apply flex h-9 w-9 flex-row items-center justify-center rounded-full border border-transparent px-1 py-2 text-center text-sm font-medium outline-none;
}

.draft-sidebar
  .draft-sidebar-header
  .sidebar-header__btn-back
  .btn-back__icon:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.draft-sidebar .draft-sidebar-header .sidebar-header__title {
  @apply flex-1;
}

.draft-sidebar
  .draft-sidebar-header
  .sidebar-header__title
  .sidebar-header__title-container {
  @apply grid h-full w-full grid-cols-12 flex-row items-center justify-center gap-2 rounded-lg border border-transparent text-center text-sm font-semibold outline-none;
}

.draft-sidebar
  .draft-sidebar-header
  .sidebar-header__title
  .sidebar-header__title-container
  .sidebar-header__title-icon {
  @apply col-span-2;
}

.draft-sidebar
  .draft-sidebar-header
  .sidebar-header__title
  .sidebar-header__title-container
  .sidebar-header__title-icon
  img {
  @apply absolute inset-0 h-full w-full object-contain object-center text-transparent;
}

.draft-sidebar
  .draft-sidebar-header
  .sidebar-header__title
  .sidebar-header__title-container
  .sidebar-header__title-text {
  @apply col-span-8 truncate text-left;
}

.draft-sidebar .draft-sidebar-search {
  @apply relative z-30 p-4;
}

.draft-sidebar .draft-sidebar-content {
  @apply flex-1 overflow-auto;
}

.draft-sidebar .draft-sidebar-content .draft-sidebar-content__label {
  padding: 0.5rem 1rem 1rem;
  @apply relative w-full;
}

.draft-sidebar
  .draft-sidebar-content
  .draft-sidebar-content__label
  .btn-trigger {
  margin-bottom: 0.5rem;
  display: flex;
  width: 100%;
  cursor: pointer;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.draft-sidebar .my-draft-item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, minmax(0px, 1fr));
}

.draft-sidebar .my-draft-item .my-draft-content {
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  grid-column: span 8 / span 8;
  display: grid;
  grid-template-columns: repeat(10, minmax(0px, 1fr));
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: left;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.draft-sidebar .my-draft-item:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.draft-sidebar .my-draft-item.active {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.draft-sidebar .my-draft-item .my-draft-content .icon-wrapper {
  grid-column: span 1 / span 1;
}

.draft-sidebar .my-draft-item .my-draft-content .text {
  grid-column: span 9 / span 9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.draft-sidebar .my-draft-item .my-draft-more {
  grid-column: span 4 / span 4;
  height: 100%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 4px;
}

.draft-sidebar .my-draft-item .my-draft-more .my-draft-more--container {
  position: relative;
  z-index: 20;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.draft-sidebar
  .my-draft-item
  .my-draft-more
  .my-draft-more--container
  .btn-more {
  border-radius: 0.25rem;
  border-width: 1px;
  padding: 0.25rem 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.draft-sidebar .draft-sidebar-footer {
  border-top-width: 1px;
  padding: 1rem;
}

.draft-sidebar .draft-sidebar-footer .btn-new-draft {
  border-radius: 9999px;
  border-width: 1px;
  padding: 0.625rem 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-width: 100%;
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.draft-sidebar .draft-sidebar-footer .btn-new-draft:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.draft-sidebar .draft-sidebar-footer .btn-new-draft span {
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.draft-sidebar .draft-sidebar-search .input-seach {
  width: 100%;
  border-width: 1px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  padding: 0.5rem 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: relative;
  z-index: 20;
  border-radius: 9999px;
  background-color: transparent;
}

.draft-sidebar .draft-sidebar-search .input-search--icon {
  position: absolute;
  top: 1.25rem;
  left: 2rem;
  z-index: 10;
  margin-top: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.draft-sidebar .draft-sidebar-search .count {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.dropdown-menu-content--my-draft {
  z-index: 50;
  display: flex;
  max-height: 24rem;
  width: 12rem;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dropdown-menu-content--my-draft .dropdown-menu-item--my-draft {
  border-width: 1px;
  border-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  border-radius: 0px;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.draft-editor {
  grid-column: span 12 / span 12;
}

.draft-editor--close-sidebar {
  grid-column: span 10 / span 10;
  border-left-width: 1px;
  border-right-width: 1px;
}

.draft-editor--content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0px, 1fr));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.draft-editor--content .content-wrapper {
  grid-column: span 12 / span 12;
}

.draft-editor--content .content-wrapper .content {
  position: relative;
  width: 100%;
  border-width: 1px;
  border-color: rgba(241, 245, 249, 0);
  padding-top: 1.25rem;
  transition-property: border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.draft-editor--header {
  top: -20rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: Plus Jakarta Sans, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}

.draft-editor--header .header-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  max-width: 1536px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.draft-editor--header .header-wrapper .header--left {
  grid-column: span 6 / span 6;
}

.draft-editor--header .header-wrapper .header--left button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  height: 2.5rem;
  width: 2.5rem;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

.draft-editor--header .header-wrapper .header--right {
  position: relative;
  grid-column: span 6 / span 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.draft-editor--header .header-wrapper .header--right .btn-publish {
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.draft-editor--header .header-wrapper .header--right .btn-revision-history {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  height: 100%;
}

.editor-toolbar-header {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
}

.editor-toolbar-header .btn-toolbar {
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.editor-title {
  position: relative;
}

@media (min-width: 640px) {
  .draft-sidebar .draft-sidebar-footer .btn-new-draft {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .draft-editor--content {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .draft-sidebar {
    grid-column: span 4 / span 4;
    height: 100vh;
    min-height: 0px;
  }

  .draft-editor {
    grid-column: span 6 / span 6;
  }

  .draft-sidebar .my-draft-item {
    display: block;
  }

  .draft-sidebar .my-draft-item .my-draft-content {
    grid-column: auto / auto;
  }

  .draft-sidebar .draft-sidebar-footer .btn-new-draft {
    width: auto;
  }

  .draft-sidebar .my-draft-item .my-draft-more {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    grid-column: auto / auto;
    display: none;
  }

  .draft-sidebar .my-draft-item.active .my-draft-more {
    display: block;
  }

  .draft-sidebar .my-draft-item:hover .my-draft-more {
    display: block;
  }

  .draft-editor--content {
    max-width: 768px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1024px) {
  .draft-sidebar {
    grid-column: span 3 / span 3;
  }

  .draft-editor {
    grid-column: span 7 / span 7;
  }

  .draft-editor--content {
    max-width: 1024px;
    grid-template-columns: repeat(8, minmax(0px, 1fr));
  }

  .draft-editor--content .content-wrapper {
    grid-column: span 6 / span 6;
    grid-column-start: 2;
  }
}

@media (min-width: 1280px) {
  .draft-sidebar {
    grid-column: span 2 / span 2;
  }

  .draft-editor {
    grid-column: span 8 / span 8;
  }

  .draft-editor--content {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .draft-sidebar {
    border-left-width: 1px;
  }

  .draft-editor {
    border-right-width: 1px;
  }

  .draft-editor--header {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .draft-editor--content {
    max-width: 1536px;
  }
}
