.explore {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply rounded-lg border;
}

.explore-tab-area {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  @apply flex max-w-[100vw] flex-row items-center overflow-hidden whitespace-nowrap border-b px-2 pt-3 text-sm font-medium;
}

.explore-tab-area .tab__item {
  @apply flex flex-row flex-nowrap items-center rounded-tl rounded-tr border-b-2 border-transparent px-2 py-3;
}

.explore-tab-area .tab__item[aria-selected="true"] {
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  @apply font-bold;
}

.explore-tab-content {
  @apply px-4 py-6;
}

.explore-tag-item {
  @apply p-2;
}

.explore-tag-item .tag {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  @apply flex h-full w-full flex-row items-center rounded-lg p-4
}

.explore-tag-item .tag .profile {
  @apply mr-2
}

.explore-tag-item .tag .profile a {
  @apply block h-10 w-10 overflow-hidden rounded;
}

.explore-tag-item .tag .profile a img {
  @apply block w-full;
}

.explore-tag-item .tag .content {
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 0px;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.explore-tag-item .tag .content h3 {
  font-family: Plus Jakarta Sans, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  @apply overflow-hidden text-ellipsis whitespace-nowrap font-bold;
}

.explore-tag-item .tag .content .description {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  @apply text-sm;
}

.newly-added-tags-title {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.newly-added-tags-title h2 {
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.newly-added-tags-content {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.newly-added-tag {
  padding: 0.5rem;
}

.newly-added-tag .newly-added-tag-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  padding: 1rem;
}

.newly-added-tag .newly-added-tag-wrapper .profile {
  margin-right: 0.5rem;
}

.newly-added-tag .newly-added-tag-wrapper .profile a {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 0.25rem;
}

.newly-added-tag .newly-added-tag-wrapper .profile a img {
  display: block;
  width: 100%;
}

.newly-added-tag .newly-added-tag-wrapper .content {
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 0px;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.newly-added-tag .newly-added-tag-wrapper .content h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Plus Jakarta Sans, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.explore-blog {
  @apply w-full p-2;
}

.explore-blog .explore-blog-container {
  @apply w-full;
}

.explore-blog .explore-blog-container .explore-blog-wrapper {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  @apply h-full w-full rounded-lg border p-5;
}

.explore-blog-inner-wrapper {
  @apply flex;
}

.explore-blog .explore-blog-container .explore-blog-wrapper .ranking {
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-family: Plus Jakarta Sans, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.explore-blog .explore-blog-container .explore-blog-wrapper .content {
  @apply w-full;
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-histories {
  @apply w-full;
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-histories-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-histories-item
  .time {
  margin-right: 1rem;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-histories-item
  .title {
  font-weight: 500;
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile {
  @apply flex w-full;
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile
  .blog-profile_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile
  .blog-profile_left
  .blog-image {
  margin-right: 0.5rem;
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile
  .blog-profile_left
  .blog-image
  .image-wrapper {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile
  .blog-profile_left
  .blog-title {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  word-break: normal;
  overflow-wrap: anywhere;
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile
  .blog-profile_left
  .blog-title
  h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile
  .blog-profile_left
  .blog-title
  .desc {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile
  .blog-profile_right
  .btn-follow {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  display: inline-flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: transparent solid 2px !important;
  outline-offset: 2px !important;
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile
  .blog-profile_right
  .btn-follow
  > svg {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.explore-blog
  .explore-blog-container
  .explore-blog-wrapper
  .content
  .blog-profile
  .blog-profile_right
  .btn-follow
  > span {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  @apply ml-2 font-bold;
}

@media (min-width: 640px) {
  .explore-tab-area {
    @apply justify-center;
  }
}

@media (min-width: 768px) {
  .explore-blog
    .explore-blog-container
    .explore-blog-wrapper
    .content
    .blog-profile
    .blog-profile_left
    .blog-title {
    @apply mt-0;
  }

  .explore-blog
    .explore-blog-container
    .explore-blog-wrapper
    .content
    .blog-profile
    .blog-profile_left {
    @apply flex-row items-center;
  }

  .explore-info-box {
    @apply items-center py-10;
  }

  .explore-info-box h1 {
    @apply text-3xl;
  }

  .explore-info-box p {
    @apply mx-auto text-center text-base;
  }

  .explore-tag-item {
    @apply w-1/2;
  }

  .explore-tag-item .tag .content {
    @apply whitespace-nowrap;
  }

  .newly-added-tags-content {
    @apply flex-row;
  }

  .newly-added-tag {
    @apply w-1/3;
  }

  .newly-added-tag .newly-added-tag-wrapper .content {
    @apply whitespace-nowrap;
  }
}
