.bookmarks-info-box {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply mb-5 flex flex-col rounded-lg border px-6 pt-10 pb-5;
}

.bookmarks-info-box h1 {
  font-family: Plus Jakarta Sans, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  @apply mb-2 text-lg font-extrabold;
}

.bookmarks-info-box p {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply max-w-[42rem] leading-[1.375];
}

@media (min-width: 768px) {
  .bookmarks-info-box {
    @apply items-center py-10;
  }

  .bookmarks-info-box h1 {
    @apply text-3xl;
  }

  .bookmarks-info-box p {
    @apply mx-auto text-center text-base;
  }
}
