.container__base main {
  @apply relative z-40 grid min-h-screen w-full min-w-full gap-4;
}

.main__left-sidebar {
  position: relative;
  z-index: 50;
  grid-column: span 2 / span 2;
  display: none;
}

.main__left-sidebar .left-sidebar__container {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  @apply my-5 flex flex-col overflow-y-auto overflow-x-hidden rounded-lg border py-2;
}

.main__left-sidebar .left-sidebar__wrapper {
  @apply mb-10 flex-1;
}

.main__left-sidebar .left-sidebar__wrapper h5 {
  font-family:
    Plus Jakarta Sans,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply mb-5 flex flex-row items-center font-semibold;
}

.main__left-sidebar .left-sidebar__wrapper .left-sidebar__tags {
  @apply flex flex-col items-start;
}

.main__left-sidebar
  .left-sidebar__wrapper
  .left-sidebar__tags
  .trending-tag-item {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  @apply flex w-full flex-row items-center rounded-lg p-1 text-sm;
}

.main__left-sidebar
  .left-sidebar__wrapper
  .left-sidebar__tags
  .trending-tag-item:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.main__left-sidebar
  .left-sidebar__wrapper
  .left-sidebar__tags
  .trending-tag-item
  :nth-child(2) {
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.sell-all-tags {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  @apply flex w-full flex-row items-center rounded-lg p-1 text-sm font-semibold;
}

.sell-all-tags:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.main__left-sidebar .left-sidebar__wrapper .menu-link {
  @apply flex flex-row items-center border-r-2 border-transparent py-2 px-4 font-medium leading-[1.375];
}

.main__left-sidebar .left-sidebar__wrapper .menu-link.active {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  @apply font-semibold;
}

.main__left-sidebar .left-sidebar__container .left-sidebar__footer {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  @apply mb-5 flex flex-col items-start px-4 text-center text-sm;
}

.left-sidebar__footer .footer-social-group {
  @apply mb-5 flex flex-row flex-wrap items-center;
}

.left-sidebar__footer .footer-social-group .social {
  @apply block rounded p-2 transition-colors;
}

.main__right-sidebar {
  grid-column: span 3 / span 3;
}

.main__right-sidebar .right-sidebar__container {
  @apply hidden py-5;
}

.right-sidebar__container .right-sidebar__content-box {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  @apply mb-5 rounded-lg border p-5;
}

.right-sidebar__container .right-sidebar__content-box-header {
  @apply mb-5 flex flex-row items-center;
}

.right-sidebar__container .right-sidebar__content-box-header .title {
  @apply flex-1;
}

.right-sidebar__container .right-sidebar__content-box-header .title > h2 {
  font-family:
    "Plus Jakarta Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply mb-1 text-base font-extrabold;
}

.right-sidebar__container .right-sidebar__content-box-header .btn__more {
  @apply flex flex-shrink-0 flex-row items-center justify-end;
}

.right-sidebar__container .right-sidebar__content-box-header .btn__more > a {
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply inline-flex flex-row items-center justify-center rounded-full border py-1 px-3 text-center text-base font-medium leading-[1.625] outline-none;
}

.right-sidebar__content-box .bookmark-desc {
  font-family:
    "Plus Jakarta Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply mb-1 font-bold leading-[1.375];
}

.right-sidebar__content-box .username {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.right-sidebar__content-box .tab-content__trenidng {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
  @apply mb-4 flex flex-row items-center overflow-auto whitespace-nowrap border-b text-sm;
}

.right-sidebar__content-box .tab-content__trenidng .tab-button {
  @apply mr-1 flex cursor-pointer flex-row items-center rounded-tl-lg rounded-tr-lg border-b-2 border-transparent py-[0.375rem] px-2;
}

.right-sidebar__content-box .tab-content__trenidng .tab-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.right-sidebar__content-box
  .tab-content__trenidng
  .tab-button[role="tab"][aria-selected="true"] {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  @apply font-semibold;
}

.tab-trending-post-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tab-trending-post-item .user-profile-image {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 9999px;
  border-width: 1px;
}

.tab-trending-post-item .user-profile-image .image-wrapper {
  position: relative;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  height: 100%;
  width: 100%;
  border-radius: 9999px;
}

.tab-trending-post-item .title {
  margin-bottom: 0.25rem;
  font-family:
    "Plus Jakarta Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.375;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.tab-trending-post-item .description {
  margin-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.tab-trending-post-item .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-trending-post-item .footer .action-btn {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .container__base main {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container__base main {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container__base main {
    max-width: 100%;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .main__left-sidebar {
    display: block;
  }

  .main__right-sidebar .right-sidebar__container {
    display: block;
  }

  .main__left-sidebar .left-sidebar__wrapper .menu-link svg {
    margin-right: 1rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}

@media (min-width: 1280px) {
  .container__base main {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 0px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1536px) {
  .container__base main {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    min-width: 0px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-left: 0px;
    padding-right: 0px;
  }

  .right-sidebar__content-box .tab-content__trenidng .tab-button {
    @apply mr-2;
  }
}
