.setting__container {
  @apply container mx-auto mt-5;
}

.setting__container .wrapper {
  @apply flex flex-row flex-wrap md:pt-2;
}

.setting__container .menu__sidebar {
  @apply w-full shrink-0 lg:w-80 lg:pl-0 lg:pr-4;
}

.setting__container .menu__sidebar .menu__sidebar-title {
  @apply mb-2 rounded-lg border bg-white p-4;
}

.setting__container .menu__sidebar .menu__sidebar-menu {
  @apply mb-2 flex flex-row items-end overflow-auto whitespace-nowrap rounded-lg border bg-white text-sm font-bold uppercase text-slate-700 lg:flex-col lg:items-start;
}

.setting__container .menu__sidebar .menu__sidebar-menu .menu__sidebar-item {
  @apply flex w-full flex-row items-center px-3 py-4 hover:bg-slate-100 md:px-6;
}

.setting__container
  .menu__sidebar
  .menu__sidebar-menu
  .menu__sidebar-item.active {
  @apply text-blue-600 hover:bg-transparent;
}

.setting__container .content {
  @apply rounded-lg border bg-white p-8 text-slate-900;
}

.input-label {
  @apply mb-2 block text-sm font-semibold text-slate-900;
}

.input-text {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  @apply w-full rounded-lg border p-4 text-base outline-none;
}

.input-help {
  @apply -mt-2 mb-2 block text-base italic text-slate-500;
}

.input-upload {
  @apply flex h-40 w-40 cursor-pointer flex-col items-center justify-center rounded-full border bg-white uppercase tracking-wide text-slate-700 shadow;
}

.btn-submit {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity));
  color: rgb(37 99 235 / var(--tw-text-opacity));
  @apply rounded-full border px-4 py-2 text-lg font-medium transition;
}

.btn-transparent {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
  @apply rounded-lg border border-transparent py-1 px-3 text-base font-medium leading-[1.625];
}
