.root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity));
}

.btn_all_check {
  @apply rounded-full flex text-blue-600 disabled:dark:text-blue-900 hover:bg-blue-50 hover:dark:bg-slate-800 disabled:hover:dark:bg-transparent border-2 border-transparent focus:border-2 focus:border-blue-600 disabled:bg-transparent disabled:cursor-not-allowed text-sm py-2.5 px-5;
}

@media (min-width: 640px) {
  .title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
