.logo {
  width: 9rem;
  fill: currentColor;
}

.btn_top {
  @apply rounded-full flex bg-transparent hover:bg-slate-100 dark:hover:bg-slate-800 disabled:hover:bg-transparent disabled:hover:dark:bg-transparent text-slate-600 dark:text-slate-300 disabled:text-slate-300 disabled:dark:text-slate-800 border border-transparent focus:border focus:border-blue-600 disabled:cursor-not-allowed text-base py-3 px-6;
}

.btn_bottom {
  @apply rounded-full flex text-slate-600 dark:text-slate-300 bg-white dark:bg-slate-950 border border-slate-300 dark:border-slate-800 hover:dark:border-slate-700 hover:bg-slate-50 hover:dark:bg-slate-800 focus:ring focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 dark:focus:ring-offset-slate-800 disabled:bg-white disabled:border-slate-200 disabled:cursor-not-allowed disabled:text-slate-300 disabled:dark:bg-slate-950 disabled:dark:border-slate-800 disabled:dark:text-slate-800 text-base py-3 px-6;
}

.btn_top_go_back {
  position: absolute;
  top: 5rem;
  right: 5rem;
  display: none;
}

.btn_bottom_go_back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.terms {
  width: 18rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

.root {
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  padding-bottom: 2.5rem;
}

.left {
  height: 18rem;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

.left_bg {
  height: 100%;
  width: 100%;
  background-image: url("/images/GH1o67-ZP.png");
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  background-repeat: no-repeat;
}

.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1 !important;
  -webkit-flex-grow: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  row-gap: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

:global(.dark) .right {
  @apply bg-zinc-900;
}

.form {
  margin-top: -220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  row-gap: 5rem;
  overflow: hidden;
  border-radius: 1.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

:global(.dark) .form {
  @apply bg-slate-950 border-slate-900;
}

.form_content {
  margin-left: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
}

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.info_content {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

:global(.dark) .info_content {
  @apply text-slate-300;
}

.profile {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {
  .info_content {
    max-width: 32rem;
  }

  .form {
    max-width: 32rem;
    padding: 3rem;
  }

  .terms {
    width: 24rem;
  }
}

@media (min-width: 768px) {
  .info_content {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .profile {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .logo {
    width: 11rem;
  }
}

@media (min-width: 1024px) {
  .root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 0px;
  }

  .left {
    height: 100vh;
    width: 18rem;
  }

  .right {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    flex-grow: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .form {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -160px;
    max-width: 32rem;
  }

  .info_content {
    max-width: 28rem;
  }

  .btn_top_go_back {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .btn_bottom_go_back {
    display: none;
  }
}

@media (min-width: 1280px) {
  .left {
    width: 20rem;
  }
}

@media (min-width: 1536px) {
  .form {
    margin-left: -262px;
  }
}
