.root {
  @apply sticky left-0 top-0 z-10 transform-gpu bg-white bg-opacity-70 p-4 shadow-sm backdrop-blur-md transition-transform duration-200 2xl:px-5;
}

.container {
  @apply mx-auto grid grid-cols-12 items-center;
}

.container_left {
  @apply col-span-4;
}

.container_right {
  @apply relative col-span-8 flex flex-row justify-end;
}

.separator {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  @apply mx-2 min-h-full w-[1px];
}

:global(.dark) .root {
  @apply border-slate-800 bg-slate-950 bg-opacity-70;
}

:gloabl(.dark) .separator {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}
